# Variables de entorno y credenciales (¡CRÍTICO DE SEGURIDAD!)
.env

# Archivos compilados y basura de Python
__pycache__/
*.pyc

# Herramientas de túnel local (No van al servidor de producción)
ngrok.exe
.ngrok.exe.old

# Documentación interna y apuntes (Opcional)
Teoria/